/* Offset agar konten tidak tertutup navbar fixed-top */
main.container {
    padding-top: 90px;
}

/* Active navbar link styling */
.nav-link.active {
    font-weight: bold;
    color: #0d6efd !important;
    position: relative;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0d6efd;
    bottom: -4px;
    left: 0;
    border-radius: 4px;
}
